<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Company</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div th:replace="layout/nav"></div>
<div class="container">
  <h1>Create Company</h1>
  <form th:action="@{/companies/create}" method="post" th:object="${createCompanyCommand}">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="ribId">RibId</label>
      <input type="number" class="form-control" id="ribId"  th:field="*{ribId}"  required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
