<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mon application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/users" id="navUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
        <div class="dropdown-menu" aria-labelledby="navUsers">
          <a class="dropdown-item" href="#">Liste des utilisateurs</a>
          <a class="dropdown-item" href="#">Créer un utilisateur</a>
          <a class="dropdown-item" href="#">Modifier un utilisateur</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/companies" id="navCompany" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
        <div class="dropdown-menu" aria-labelledby="navEmployee">
          <a class="dropdown-item" href="#">Liste des entreprises</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/freelances" id="navFreelance" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Freelance</a>
        <div class="dropdown-menu" aria-labelledby="navFreelance">
          <a class="dropdown-item" href="#">Liste des freelances</a>
          <a class="dropdown-item" href="#">Créer un freelance</a>
          <a class="dropdown-item" href="#">Modifier un freelance</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navEmployee" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee</a>
        <div class="dropdown-menu" aria-labelledby="navEmployee">
          <a class="dropdown-item" href="#">Liste des employés</a>
          <a class="dropdown-item" href="#">Créer un employé</a>
          <a class="dropdown-item" href="#">Modifier un employé</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="billings" id="navBilling" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Billing</a>
        <div class="dropdown-menu" aria-labelledby="navBilling">
          <a class="dropdown-item" href="#">Liste des factures</a>
          <a class="dropdown-item" href="#">Créer une facture</a>
          <a class="dropdown-item" href="#">Modifier une facture</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/ribs" id="navRib" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RIB</a>
        <div class="dropdown-menu" aria-labelledby="navRib">
          <a class="dropdown-item" href="#">Liste des RIB</a>
          <a class="dropdown-item" href="#">Créer un RIB</a>
          <a class="dropdown-item" href="#">Modifier un RIB</a>
        </div>
      </li>
    </ul>
  </div>
</nav>